html,
body {
    overflow: hidden !important;
}

#map {
    width: 100%;
    height: 600px;
    border: 1px solid black;
    overflow: hidden !important;
}

#controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 10px;
    z-index: 999;
}

#zoom-controls {
    margin-bottom: 10px;
}

#filter-controls {
    margin-bottom: 10px;
}

#reset-button {
    display: block;
    margin: 0 auto;
}